.chart-container {
  background-color: #7930d8(95, 16, 73);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px #7930d8(0,0,0,0.1);
  flex: 1;
}

.chart-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #7930d8;
  font-size: 0.9rem;
}