.btn-purple {
    background-color: purple;
    color: white;
    border: none;
    transition: all 0.3s ease;
  }
  
  .btn-purple:hover {
    background-color: #6a0dad; /* Darker purple */
    box-shadow: 0 4px 10px rgba(106, 13, 173, 0.5);
    transform: translateY(-2px);
    cursor: pointer;
  }
  