<div class="login-container">
  <div class="form-container">
    <h2>Login into an Employer Account</h2>
    <div class="login-link">
      <p>You don't have an account?</p>
      <a routerLink="/employer-register">Sign Up Now</a>
    </div>
    <form>
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <div class="forgot-password">
        <a routerLink="/forgot-password">Forgot your password?</a>
        <div class="remember">
          <input type="checkbox" id="remember-me" name="remember-me">
          <label for="remember-me">Remember me</label>
        </div>
      </div>
      <button type="submit">LogIn</button>
    </form>
  </div>

  <div class="promotion-container col-md-6">
    <h2>Join Jobs and Start the Recruitment Process on the #1 Website in Palestine</h2>
    <ul>
      <li><i class="fa fa-check-circle"></i> One full week on the homepage.</li>
      <li><i class="fa fa-check-circle"></i> Company/Institution logo in the advertisement.</li>
      <li><i class="fa fa-check-circle"></i> Shared on social media platforms: Facebook (235K followers), LinkedIn
        (10K followers), SMS to Jawwal and Wataniya subscribers (30K subscribers), Email newsletter (70K subscribers).
      </li>
      <li><i class="fa fa-check-circle"></i> Creation of a page for the company/institution to post job openings and
        promote the brand.</li>
    </ul>
    <div class="contact-info">
      <hr style="color:blueviolet">
      <h4> Need help?</h4> <i class="fa fa-phone"></i> Contact us: <a href="tel:+970594916221">+970 592151813</a>
      <p><i class="fa fa-envelope"></i> Email: <a href="mailto:info@jobs.ps">info&#64;jobs.ps</a></p>
    </div>
  </div>
</div>

<div class="footer-callout">
  <h2>Are you looking for highly qualified employees?</h2>
  <p>We will help you find the best talents and minds here.</p>
</div>