.footer {
  background-color: #1a1a2e;
  color: #f1f1f1;
  padding: 2rem;
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}

.newsletter {
  margin-bottom: 2rem;
  border: 1px dashed #444;
  padding: 1rem;
}

.newsletter p {
  margin-bottom: 0.5rem;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  max-width: 90%;
  width: 100%;
  justify-content: center;
}

.input-group input {
  padding: 0.5rem;
  border: 1px solid #323232;
  outline: none;
  background-color: #2c2c3e;
  color: #fff;
  flex: 1;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
}

.input-group button {
  background-color: #6900c7;
  border: none;
  color: white;
  padding: 0 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.input-group button:hover {
  background-color: #8e44ad;
}

.footer-links {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
}

.footer-links a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #9b59b6;
}

.footer-bottom {
  margin-top: 2rem;
  border-top: 1px solid #555;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-bottom select {
  background-color: #2c2c3e;
  color: #fff;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
}

.footer-bottom .socials {
  display: flex;
  gap: 10px;
}

.footer-bottom .socials a {
  color: #ccc;
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

.footer-bottom .socials a:hover {
  color: #9b59b6;
}

.logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  border-top: 1px dashed #333;
  padding-top: 1rem;
}

.logo img {
  height: 55px;
  filter: brightness(1.2);
}
