

.sidebar {
  background-color: #f9f9f9;
  width: 250px;
  height: 60rem;
  position: fixed;
  top :4.3rem;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  font-family: 'Roboto', sans-serif;
  z-index: 111;
}

.logo {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #e6f7ff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.logo i {
  font-size: 24px;
  margin-right: 10px;
}

.logo span {
  font-size: 18px;
  font-weight: bold;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.menu-item a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.menu-item a:hover {
  color: #7930d8;
}

.menu-item i {
  font-size: 20px;
  margin-right: 10px;
}

.menu-item span {
  font-size: 16px;
}
