<form class="mb-4">
    <h5>Personal Information</h5>
    <div class="row">
      <div class="col-md-4 mb-3">
        <input type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="col-md-4 mb-3">
        <input type="text" class="form-control" placeholder="Last Name">
      </div>
      <div class="col-md-4 mb-3">
        <input type="email" class="form-control" placeholder="Email Address">
      </div>
      <div class="col-md-4 mb-3">
        <input type="text" class="form-control" placeholder="Phone Number">
      </div>
      <div class="col-md-4 mb-3">
        <input type="text" class="form-control" placeholder="Country">
      </div>
      <div class="col-md-4 mb-3">
        <input type="text" class="form-control" placeholder="City">
      </div>
      <div class="col-md-6 mb-3 d-flex align-items-center gap-2">
        <div class="col-md-4 mb-3">
          <input type="text" class="form-control" placeholder="CV (Resume)">
        
          <label class="btn btn-purple">
            <input type="file" hidden>
            <i class="bi bi-upload"></i> Upload file
          </label>
          
      </div>
      </div>
      <div class="col-12 mb-3">
        <textarea class="form-control" rows="3" placeholder="Summary (Profile)"></textarea>
      </div>
    </div>
    <button class="btn btn-purple">Edit Profile</button>
  </form>