<app-jop-posting-table></app-jop-posting-table>



<div class="container" id="bigContainer" style=" ;margin-top: 6rem ; margin-bottom: 30rem " >

  <h2 style="font-weight: bold; text-align: center; margin-bottom: 30px">Job Management Dashboard</h2>

  <div class="four-cards" style="display: flex ;justify-content: space-between ;gap: 20px;">
    <app-cards>
      <img src="assests/pic1.png" class="card-img-top" >
      <h5 class="card-title">UX Designer</h5>
      <p class="description card-text">Status: Open</p>
      <p class="details card-text">Applications: 25</p>
      <button type="button" class="btn btn-outline-primary" >View Details</button>
    </app-cards>

    <app-cards>
      <img src="assests/pic2.webp" class="card-img-top" >
      <h5 class="card-title">Project Manager</h5>
      <p class="description card-text">Status: Closed</p>
      <p class="details card-text">Applications: 45</p>
      <button type="button" class="btn btn-outline-primary" >View Details</button>
    </app-cards>


    <app-cards>
      <img src="assests/pic3.webp" class="card-img-top" >
      <h5 class="card-title">Web Developer</h5>
      <p class="description card-text">Status: Closed</p>
      <p class="details card-text">Applications: 30</p>
      <button type="button" class="btn btn-outline-primary" >View Details</button>
    </app-cards>

    <app-cards>
      <img src="assests/pic4.webp" class="card-img-top"  >
      <h5 class="card-title">Data Analyst</h5>
      <p class="description card-text">Status: Open</p>
      <p class="details card-text">Applications: 15</p>
      <button type="button" class="btn btn-outline-primary" >View Details</button>
    </app-cards>

  </div>

  <div class="container1"  >

    <h3 style=" color: #5a22a8">Open vs Closed Jobs Statistics</h3>

    <div class="container2"  >

      <div class = "item1" style="background-color: #fff6e5">
        <svg class="icon" style="height: 1.2rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M184 48l144 0c4.4 0 8 3.6 8 8l0 40L176 96l0-40c0-4.4 3.6-8 8-8zm-56 8l0 40L64 96C28.7 96 0 124.7 0 160l0 96 192 0 128 0 192 0 0-96c0-35.3-28.7-64-64-64l-64 0 0-40c0-30.9-25.1-56-56-56L184 0c-30.9 0-56 25.1-56 56zM512 288l-192 0 0 32c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32l0-32L0 288 0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-128z"/></svg>

        <h5 style="line-height: 7rem">Total Jobs: 12</h5>

      </div>

      <div class = "item2" style="background-color: #e6f6eb">
        <svg class="icon" style="height: 1.2rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M352 144c0-44.2 35.8-80 80-80s80 35.8 80 80l0 48c0 17.7 14.3 32 32 32s32-14.3 32-32l0-48C576 64.5 511.5 0 432 0S288 64.5 288 144l0 48L64 192c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-192c0-35.3-28.7-64-64-64l-32 0 0-48z"/></svg>
        <h5 style="line-height: 7rem">Open Jobs: 8</h5>
      </div>

      <div class = "item3" style="background-color: #e8eefa">
        <svg  class="icon" style="height: 1.2rem"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M144 144l0 48 160 0 0-48c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192l0-48C80 64.5 144.5 0 224 0s144 64.5 144 144l0 48 16 0c35.3 0 64 28.7 64 64l0 192c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 256c0-35.3 28.7-64 64-64l16 0z"/></svg>
        <h5 style="line-height: 7rem">Closed Jobs: 4</h5>

      </div>

    </div>


  </div>



</div>
