<div class="parent-container">
  <div class="container">
    <div class="form-section">
      <h2 style="margin-bottom: 20px;">Forgot Password</h2>
      <p style="margin-bottom: 20px;">Enter your email to receive a reset link</p>
      <div class="input-group">
        <input type="email" placeholder="Email">
      </div>
      <button onClick="showAlert()" class="btn">Send Reset Link</button>
      <p class="login-link">Remembered your password? <a href="/LogInPage/login.html">Log In</a></p>
    </div>
    <div class="image-section">
    </div>
  </div>
</div>
