@import "bootstrap/dist/css/bootstrap.min.css";
body {
  font-family: 'Lora', serif;
  background-color: #fdfdfd;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', 'Merriweather', serif;
  }
  .btn-purple {
    color:white;
    border: 1px solid #7c3aed;
   background-color: #7c3aed;
  }
  
  .btn-purple:hover {
    background-color: #7c3aed;
    color: 7c3aed;
  }
  