<div class="login-container">
  <div class="form-container">
    <h2>Login into a Job Seeker Acount</h2>
    <div class="login-link">
      <p>You Dont have an account?</p>
      <a routerLink="/job-seeker-register">Sign Up Now</a>
    </div>
    <form>

      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <div class="forgot-password">
        <a routerLink="/forgot-password">Forgot your password?</a>
        <div class="remember">
          <input type="checkbox" id="remember-me" name="remember-me">
          <label for="remember-me">Remember me</label>
        </div>
      </div>

      <button type="submit">LogIn</button>
    </form>
  </div>

  <div class="divider-with-or">
    <span>OR</span>
  </div>

  <div class="image-container">
    <div class="social-login-section">
      <button class="google-btn" style="margin-top: 20px;">
        <i class="fa-brands fa-google fa-lg"></i>
        Login with Google
      </button>
      <button class="facebook-btn">
        <i class="fa-brands fa-facebook fa-lg"></i>
        Login with Facebook
      </button>
      <button class="linkedin-btn">
        <i class="fa-brands fa-linkedin fa-lg"></i>
        Login with Linkedin
      </button>

      <ul class="benefits-list">
        <li>Apply to jobs in just a few clicks</li>
        <li>Get job recommendations based on your profile</li>
        <li>Track your application status easily</li>
        <li>Receive alerts for new job matches</li>
      </ul>
    </div>
    <img
      src="https://static.vecteezy.com/system/resources/thumbnails/005/879/539/small_2x/cloud-computing-modern-flat-concept-for-web-banner-design-man-enters-password-and-login-to-access-cloud-storage-for-uploading-and-processing-files-illustration-with-isolated-people-scene-free-vector.jpg"
      alt="illustration" />
  </div>
</div>
<div class="footer-callout">
  <h2>Want to Become a Success Employee?</h2>
  <p>We'll help you to grow your career and growth.</p>
</div>